{{if .Headline}}{{.Headline}}{{else}}{{.Title}}{{end}}
{{if .Description}}
{{.Description}}
{{end}}
{{- range .Features}}
{{.}}
{{- end}}

💥 Price: ₹{{money .DealPrice}}{{if .Discount}} ({{.Discount}}% OFF){{end}}
{{- if .Discount}}
🏷️ M.R.P.: ₹{{money .MRP}}
{{- end}}
🚚 Fulfilled by Amazon | Inclusive of All Taxes

🛒 Grab This Deal 👉 {{.Link}}

{{.Hashtags}}
