🔥 {{.Title}} 🔥

🔹 Key Features
{{- range .Features}}
✔️ {{.}}
{{- end}}

💰 Price
{{- if .Discount}}
🏷️ M.R.P.: ₹{{money .MRP}}
💵 Offer Price: ₹{{money .DealPrice}}
🎉 You Save: {{.Discount}}% OFF
{{- else}}
💵 ₹{{money .DealPrice}}
{{- end}}

👉 {{.Link}}

{{.Hashtags}}
